@charset "UTF-8";

body {
    background-color: #f5f7fa;
    font-family: serif;
    font-size: 17px;
    color: #416b83;
    margin: 0px;
}

/* CABEÇALHO */

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 0 6rem;
}

header {
    background-color:#e4eaf1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 0 6rem;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 70px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color:#669bba;
}

.nav-link:hover{
    color: #fbd060;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* PAGINA SOBRE NÓS */

img {
    margin-bottom: 20px;
}


article{
    text-align: center;
    font-size: 17px;
    padding-right: 70px;
    padding-left: 70px;
}

.titulo{
    text-align: center;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    max-width: 1700px;
    padding: 5px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    row-gap: 50px;
    column-gap: 25px;
}

.maps,.infoslocal{
    width: 370px;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
}

.maps{
    min-height: 266px;
}

.infoslocal{
    min-height: 100px;}

.whatsApp > a > img{
    height:90px; 
    position:fixed; 
    bottom: 0; 
    right:20px;
}

/* PAGINA CONTATO */

.box {
    max-width: 1700px;
    padding: 5px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    row-gap: 50px;
    column-gap: 70px;
}

.faleconosco, .trabalheconosco{
    width: 470px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 30px;
    text-align: justify;
    border-radius: 75px;
    height: 555px;
}

.trabalheconosco {
    height: 360px;
}

.inputContato, .inputTrabalhe {
    border-radius: 15px;
    width: 430px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 2px solid #669bba;
    outline: none;
}

.textarea, .textarea2 {
    border-radius: 15px;
    border: 2px solid #669bba;
    outline: none;
    color: #454b4f;
    font-size: 15px;
}

.tituloform {
    text-align: center;
    color:#669bba;
    background-color: #e4eaf1;
    padding: 8px;
}

.faq {
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    text-align: left;
    color: #416b83;
}

.rosa2{
    margin-top: 40px;
    font-weight: bold;
}

.pergunta {
    margin-top: 45px;
    font-weight: bold;
}

.resposta {
    margin-left: 20px;
    width: 750px;
}
/*PAGINA ORÇAMENTOS */

.inputOrcamento {
    border-radius: 15px;
    width: 600px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 2px solid #669bba;
    outline: none;
}

.textarea2 {
    margin-top: 12px;
}

#submit {
    margin-top: 25px;
    margin-left: 40%;
    margin-right: 60%;
    background-color: #669bba;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: #f5f7fa;
    width: 15%;
}

/* PAGINA MENU */

img.logomenu {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.sobreloja {
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 350px;
}

a > img {
    width: 90px;
}

.barraM{
    width: 910px;
    margin-left: 300px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #669bba;
    background-color:white;
    text-align:center;
    color: #454b4f;
    font-size: 15px;
}

.classeM, .classeC {
    color: #669bba;
    background-color: #e4eaf1;
    padding: 12px;
    font-size: 17px;
    width: 880px;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 100;
}   

.classeC {
    text-align: center;
    width: 70%;
}

.rosa, .rosa2 {
    font-size: 17px;
    font-weight: 100;
    color: #ec6f75;
}


.descritivoM {
    width: 680px;
    height: 130px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    border: 20px;
}

img.foto {
    width: 126px;
}

.preco {
    font-weight: bold;
}

/*RODAPÉ*/

footer {
    background-color: #e4eaf1;
    text-align: center;
}

@media only screen and (min-width: 1660px) {
    .container {
        flex-direction: column;
    }
  }

  @media screen and (max-width: 1115px) {
    .nav-item {
        margin: 0 25px;
    }
    .whatsApp {
        display: none;
    }
    .classeM {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .nav-bar {
        padding-top: 1.5rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu {
        width: 100%;
    }
    .open {
        display: block;
    }
}